body{
    margin: 0px;
}

p{
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color: black;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
}

.webpage-title{
    margin: 0px;
    color: rgb(255, 222, 0);
    font-size: 50px;
}

.return-link{
    margin-top: 10px;
    display: inline-block;
    color: blue;
    margin-left: 10px;
}

.return-link:hover{
    color: rgb(115, 115, 255);
}

.database-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.database-title{
    font-size: 80px;
}

.database-list-container{
    border: 1px solid black;
    width: 1000px;
    border-radius: 10px;
}

.database-list-header{
    display: flex;  
    width: 1000px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}

.database-list-title{
    font-size: 20px;
    padding-left: 10px;
}

.input-container{
    display: flex;
    height: 40px;
    padding-right: 10px;
}

.input-container input{
    height: 36px;
}

input:focus{
    border: 2px solid rgb(0, 0, 0);
}

.search-button{
    border: 1px solid black;;
    background-color:rgb(255, 222, 0);
    cursor: pointer;
    font-size: 15px;
}

.search-button:hover{
    background-color:rgb(255, 232, 82);
}

.search-button:active{
    background-color:rgb(244, 233, 162);
}

.database-list-content{
    height: 600px;
    background-color: rgb(185, 185, 185);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow-y: auto;
}

.database-item{
    background-color: rgb(214, 214, 214);
    border-bottom: 1px solid black;
    padding: 10px;
    display: grid;
    place-items: center;
    grid-auto-rows: 57px;
}

.student-item{
    grid-template-columns: 200px 200px 200px 250px 150px;
}

.restaurant-item{
    grid-template-columns: 250px 50px 250px 300px 150px;
}

.staff-item{
    grid-template-columns: 200px 200px 200px 250px 150px;
}

.worker-item{
    grid-template-columns: 170px 170px 170px 170px 170px 150px;
}

.app-item{
    grid-template-columns: 50px 110px 100px 190px 190px 100px 80px 80px 80px;
}

.database-item p{
    font-size: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
    text-align: center;
}

.modify-button{
    background-color: rgb(52, 147, 236);
    width: 100px;
    height: 50px;
    align-self: center;
    cursor: pointer;
    font-size: 18px;
    border: 1px solid black;
    color: white;
    border-radius: 5px;
}

.modify-button:hover{
    background-color: rgb(72, 160, 243);
}

.not-found-text{
    text-align: center;
    font-size: 18px;
}

.js-edit-app{
    margin-right:4px;
    border:1px solid black;
    background-color:black;
    color:white;
    width:70px;
    height:25px;
}

.js-edit-app:hover{
    background-color: rgb(41, 41, 41);
    cursor: pointer;
}

.approve{
    border:1px solid black;
    background-color:green;
    color:white;width:70px;
    height:25px;
}

.approve:hover{
    cursor: pointer;
    background-color: rgb(4, 148, 4);
}

.decline{
    border:1px solid black;
    background-color:rgb(210,0,0);
    color:white;
    width:70px;
    height:25px;
}

.decline:hover{
    cursor: pointer;
    background-color: rgb(235, 17, 17);
}


/*Extra properties for customer info page*/

.info-container{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    width: 1500px;
    justify-content: center;
    margin: 50px auto;
    padding: 50px;
    border-radius: 20px;
    
}

.info-header{
    display: flex;
    align-items: end;
    justify-content: space-between;
    width: 1500px;
    border-bottom: 1px solid black;
    padding-bottom: 30px;
}

.profile-picture{
    width: 250px;
}

.title-name{
    font-size: 50px;
    margin: 0px;
}

.info-header-leftside{
    display: flex;
    align-items: end;
    gap: 50px;
}

.delete-user-button{
    background-color: red;
    width: 200px;
    height: 70px;
    color: white;
    border: none;
    font-size: 25px;
    cursor: pointer;
}

.delete-user-button:hover{
    background-color: rgb(255, 68, 68);
}

.info-body{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

.entity-info{
    display: flex;
    font-size: 20px;
    justify-content: space-between;
    align-items: center;
    width: 1500px;
}

.entity-info-text{
    display: flex;
    justify-content: space-between;
}

.entity-edit-button{
    background-color: black;
    color: white;
    border: none;
    width: 70px;
    height: 30px;
    cursor: pointer;
}

.entity-edit-button:hover{
    background-color: rgb(45, 45, 45);
}

.enter-input-container{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.info-input{
    height: 25px;
    margin: 0px;
}

.cancel-edit-button{
    background-color: rgb(154, 0, 0);
    color: white;
    border: 1px solid black;
    height: 30px;
    width: 60px;
    cursor: pointer;
}

.cancel-edit-button:hover{
    background-color: rgb(184, 39, 39);
}

.confirm-edit-button{
    background-color: rgb(0, 157, 0);
    color: white;
    height: 30px;
    border: 1px solid black;
    cursor: pointer;
}

.confirm-edit-button:hover{
    background-color:rgb(32, 191, 32);
}

.edit-buttons{
    display: flex;
    align-items: center;
    gap: 5px;
}

.error-text{
    font-size: 15px;
    color: red;
}

.delete-confirm-window{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: display .15s ease-in-out;
}

.delete-confirm-popup{
    background-color: white;
    width: 1000px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 100px;
    border: 5px solid black;
    box-shadow: 0px 0px 5px black;
}

.confirm-text{
    font-size: 40px;
    text-align: center;
}

.delete-confirm-buttons{
    display: flex;
    gap: 100px;
}

.delete-confirm-button{
    width: 200px;
    height: 75px;
    font-size: 30px;
    cursor: pointer;
    border: none;
}

.delete-accept-button{
    background-color: rgb(0, 199, 0);
}

.delete-accept-button:hover{
    background-color: rgb(31, 225, 31);
}

.delete-deny-button{
    background-color: red;
}

.delete-deny-button:hover{
    background-color: rgb(255, 81, 81);
}

.hidden{
    display: none;
}

/*Styling for Admin Login Page*/

.login-container{
    width: 750px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    padding-bottom: 50px;
    padding-top: 50px;
    border-radius: 10px;
}

.login-title{
    font-size: 50px;
    text-align: center;
    margin: 0px;
    margin-bottom: 50px;
}

.login-form{
    display: flex;
    flex-direction: column;
    
}

input{
    width: 200px;
    height: 30px;
    margin-bottom: 20px;
    border: 1px solid black;
    background-color: rgb(243, 243, 243);
}

input:focus{
    border: 1px solid black;
    outline: 1px solid black;
    background-color:white;
}

.incorrect-login-text{
    font-size: 12px;
    margin-top: 0px;
    color: rgb(189, 0, 0);
}

.login-button{
    width: 100px;
    height: 30px;
    font-size: 14px;
    background-color: black;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.login-button:hover{
    background-color: rgb(54, 54, 54);
}

