body{
    margin: 0px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

p{
    font: arial;
    font-family: Arial, Helvetica, sans-serif;
}

.hidden{
    display: none;
}
/*Style For Navigation Bar On Top of Page*/

.nav-bar{
    display: flex;
    background-color: black;
    border-bottom: 3px solid rgb(255, 222, 0);
    box-shadow: 0px 3px 10px rgb(190, 190, 190);
    padding-left: 10px;
    padding-right: 10px;
    top: 0;
    position: sticky;
}

.header-container{
    display: flex;
    align-items: center;
    gap: 60px;
    width: 100vw;
}

.nav-logo{
    height: 60px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.nav-logo:hover{
    cursor: pointer;
}

.nav-link{
    color: white;
    font-size: 22px;
    padding: 10px;
    font: arial;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

.nav-link:hover{
    color: rgb(255, 222, 0);
    cursor: pointer;
    background-color: rgb(52, 52, 52);
    border-radius: 10px;
}

.cart-anchor{
    display: flex;
    text-decoration: none;
    align-items: center;
    gap: 8px;
    height: 40px;
    align-self: center;
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 10px;
}

.cart-anchor:hover{
    cursor: pointer;
    color: rgb(255, 222, 0);
    background-color: rgb(52, 52, 52);
    text-decoration: none;
}

.cart-anchor:hover .badge{
    color: rgb(255, 222, 0);
}

.fa-cart-shopping{
    color: white;
    font-size: 28px;
    justify-self: end;
    padding: 10px;
    border-radius: 8px;
    align-self: center;
}

.badge-count{
    text-decoration: none;
    color: rgb(255, 222, 0);
    font-size: 18px;
    font-weight: bold;
    margin: 0;
}

/*Styling For Homepage*/

.home-title{
    text-align: center;
    font-size: 100px;
    margin-top: 30px;
    font-weight: bold;
    color: rgb(0, 62, 110);
}

.restaurants-container{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    gap: 100px;
    flex-wrap: wrap;
}

.restaurant-item{
    padding: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 1px 3px rgb(125, 125, 125);
    border-radius: 15px;
    max-height: 450px;
}

.restaurant-img{
    width: 500px;
    height: 365px;
    border-radius: 15px;
}

.restaurant-info{
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 15px;
    align-items: center;
}

.restaurant-name{
    font-size: 25px;
}

.restaurant-button{
    height: 50px;
    padding: 0px;
    width: 200px;
    font-size: 20px;
    border-style: none;
    background-color: black;
    color: white;
    border-radius: 5px;
}

.restaurant-button:hover{
    background-color: rgb(45, 45, 45);
    cursor: pointer;
}

/*Styling For Restaurant Ordering Page*/

.food-title{
    font-size: 100px;
    margin-top: 30px;
    text-align: center;
    color: rgb(0, 62, 110);
}

.food-container{
    margin-top: 50px;
    display: flex;
    gap: 100px;
    margin-left: 100px;
    margin-right: 100px;
    flex-wrap: wrap;
    justify-content: center;
}

.food-item{
    display: flex;
    flex-direction: column;
    padding: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    align-items: center;
    box-shadow: 0px 1px 3px rgb(125, 125, 125);
    border-radius: 15px;
}

.food-img{
    width: 500px;
    border-radius: 15px;
}

.food-description{
    font-size: 30px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.food-cost{
    color: rgb(0, 62, 110);
}

.add-to-cart{
    display: flex;
    align-items: flex-start;
    width: 100%;
    gap: 20px;
}

.food-button{
    width: 200px;
    height: 50px;
    background-color: rgb(255, 222, 0);
    font-size: 25px;
    border: 1px solid black;
    align-self: flex-start;
    border-radius: 5px;
}

.food-button:hover{
    background-color: rgb(255, 237, 117);
    cursor: pointer;
}

.added-text{
    color: green;
    opacity: 0;
    transition: opacity .1s;
}

.added-text-selected{
    opacity: 1;
}

footer{
    margin-top: 100px;
    background-color: black;
    align-content: center;
    padding: 30px;
}

.footer-logo{
    width: 500px;
}

/*Checkout Page Styling*/

.checkout-container{
    width: 1100px;
    margin:2rem auto;
    padding:0 1rem;
}

.checkout-title{
    font-size: 35px;
    margin: 0px;
    margin-bottom: 10px;
    font-weight: bold;
    color:rgb(0, 62, 110);
}

.summary{
    border:1px solid #e6e6e6;
    padding:1rem;
    border-radius:6px;
    padding-bottom: 0px;
}

.summary-title{
    margin-top:0;
    font-size: 22px;
    font-weight: 600;
}

.line-item{
    display:flex;
    justify-content:space-between;
    padding:6px 0;
    border-bottom:1px dashed #f0f0f0;
}

.selection-container{
    margin-top: 40px;
}

label{
    font-family: Arial, Helvetica, sans-serif;
    font: arial;
    font-size: 18px;
}

select{
    height: 45px;
}

select:hover{
    cursor: pointer;
}

select:focus{
    outline: 1px solid black;
}

.controls{
    margin-top:1rem;
    display:grid;
    grid-template-columns:1fr 1fr; 
    gap:1rem;
}

.btn{
    background:#2b6cb0;
    color:white; 
    padding:8px 12px; 
    border:none; 
    border-radius:4px; 
    cursor:pointer;
    width: 200px;
    height: 60px;
    font-size: 20px;
}

.btn:hover{
    background-color: #3982d0;
}

.input{
    padding: 10px;
    border:1px solid #ddd;
    border-radius:4px;
    width:100%;
    padding-right: 0px;
}

.input:focus{
    border-left: 5px solid rgb(218, 189, 0);
    outline: 1px solid black;
    padding-left: 6px;
}

.payment-label{
    font-family: Arial, Helvetica, sans-serif;
    font: arial;
    font-size: 18px;
}

input[type='radio'] {
    accent-color: rgb(123, 107, 1);
}

.error-message{
    color: rgb(199, 0, 0);
    margin: 0px;
    margin-top: 5px;
}

.modal-backdrop{
    position:fixed;
    left:0;
    right:0;
    top:0;
    bottom:0;
    background:rgba(0,0,0,0.4);
    display:flex;
    align-items:center;
    justify-content:center;
}

.modal{background:white;
    padding:1.5rem;
    border-radius:6px;
    max-width:460px;
    width:90%;
}